<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">Email</th>
        <th scope="col" class="text-center">Username</th>
        <th scope="col" class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td class="text-nowrap">
            {{name}} 
            {{#ifeq ../currentUser username}}
              <span class="badge badge-pill badge-dark">You</span>
            {{/ifeq}}
          </td>
          <td class="text-center">{{email}}</td>
          <td class="text-center">{{username}}</td>
          <td class="text-right">
            <ul class="list-inline text-nowrap">
              <li class="list-inline-item">
                <a href="/user/edit/{{id}}" class="btn btn-sm btn-dark">Edit</a>
              </li>
              <li class="list-inline-item">
                <button type="button" class="btn btn-sm btn-danger delete-btn" data-action="delete" data-user-id="{{id}}">Delete</button>
              </li>
            </ul>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>